
#navFixed{
    position: sticky;
    top: 0;
    background-color: rgb(215, 218, 52) !important;

}
.bg-light{
    --bs-bg-opacity: 0 !important;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}